# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Variables
*.tfvars

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
**/.terraform/*
